[Desktop Entry]
Type=Application
Name=Bori
Comment=Habit tracker, journal, and planner
Exec=/opt/bori/bin/bori
Icon=bori
Categories=Utility;Office;
Terminal=false
StartupWMClass=bori
